body {
  min-width: 350px;
}

main {
  margin: 0 auto;
  text-align: center;
  width: 350px;
}

.boardContainer {
  margin: 0 auto;
  width: 800px;
}

.game {
  margin: 0 auto;
}

.gameBoard {
  border-collapse: separate;
  border-spacing: 2px;
  margin: 0 auto;
}

.notification {
  color: red;
  margin: 0 auto;
  text-align: center;
}

.playerTurn {
  margin: 0 auto;
  text-align: center;
}

.square {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    height:100px;
    text-align: center;
    width:100px;
}

.successMessage {
  color: #1cca1f;
}
