body {
  min-width: 350px;
}

main {
  margin: 0 auto;
  text-align: center;
  width: 350px;
}

.badLoginAttempt {
  color: red;
}

.boardContainer {
  margin: 0 auto;
  width: 800px;
}

.game {
  margin: 0 auto;
}

.gameBoard {
  border-collapse: separate;
  border-spacing: 2px;
  margin: 0 auto;
}

.loginLabels {
  color: white;
}

.notification {
  color: red;
  margin: 0 auto;
  text-align: center;
}

.playerTurn {
  margin: 0 auto;
  text-align: center;
}

.signup {
  color: white;
}

.signup:hover {
  color: grey;
}

.signup:focus {
  color: white;
}

.square {
    background-color: #000;
    border-radius: 10px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    height:100px;
    text-align: center;
    width:100px;
}

.successMessage {
  color: #1cca1f;
}

.title {
  clear: both;
  display: block;
  margin: 0 auto;
  text-align: center
}
